* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::after,
*::before{
  box-sizing: border-box;
}
.clear-fix {
  content: "";
  display: table;
  clear: both;
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 19px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}

.table{
  display: table;
  width: 100%;
  height: 91px;
  max-width: 1512px;
    margin: 0 auto;
}
.container {
  max-width: 1262px;
  margin: 0 auto;
}
.row{
  display: table-row;
}
.cell{
  display: table-cell;
  vertical-align: middle;
}

.header-nav{
  float: left;
  margin-left: 24px;
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
  padding: 10px 0;
}
.nav{
  float: right;
}
.logo{
  display: block;
  max-width: 183px;
  font-size: 27px;
  line-height: 32px;
  font-weight: 600;
margin-left: 12px;
}
.navigation{
  margin: 35px 12px;
  display: inline-block;
  vertical-align: middle;
}
.btn{
  color: #2203E4;
  font-size: 21px;
  line-height: 120%;
  font-weight: 500;
  border: 1px solid #2203E4;
  padding: 10px 16px;
  margin-left: 20px;
}
.btn:hover{
  background-color: #2203e4;
  color: #fff;
  border-radius: none;
 transition: all 0.7s ease;
 padding: 10px 25px;

}
.text{
  vertical-align: top;
  margin-top: 100px;
  margin-right: 63px;
}
.header-text{
  font-size: 47px;
  line-height: 120%;
  font-weight: 700;
}
.header-info {
  display: block;
  max-width: 611px;
  margin-bottom: 40px;
}
.header-middle{
  padding: 119px 0;
}
.text,
.img{
  display: inline-block;
}

.btn-authors{
  background: #0062FF;
  color: #fff;
  border: none;
  margin-right: 24px;
  font-weight: 400;
  margin-left: 0;
}

.btn-check{
  color: #575757;
  border: 1px solid #575757;
}
.btn-check:hover{
  background-color: #575757;
  color: #fff;
  border-radius: none;
  transition: all 0.7s ease;
  padding: 10px 25px;
}
.card-mark{
  margin-bottom: 110px;
}
.authors-top{
  text-align: center;
}
.authors-info{
  display: inline-block;
  max-width: 611px;
}
.authors-text{
  font-size: 36px;
  line-height: 43px;
  font-weight: 600;
  margin-bottom: 12px;
}
.span-info{
  display: inline-block;
  max-width: 612px;
  color: #575757;
  margin-bottom: 36px;
}
.authors-img{
  border-radius: 100%;
}
.mark_headers{
  font-size: 27px;
  line-height: 32px;
  font-weight: 600;
}
.mark{
  color: #575757;
  font-size: 21px;
  line-height: 32px;
    margin-bottom: 12px;
}
.authors-info>span{
  display: block;
  color: #575757;
  margin-bottom: 25px;
}
.authors-image{
  margin-right: 19px;
}

.after-before{
  display: inline-block;
}
.mark-header{
  vertical-align: super;
  position: relative;
}
.paragraph{
  color: #DEA405;
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
}
.prof {
  color: #FFBE0B;
  font-size: 16px;
  line-height: 19px; 
}
.after-before{
  vertical-align: middle;
}
.after-before::before{
  content: "";
  position: absolute;
  width: 10px;
  height: 15px;
  top: 80px;
  left: -18px;
  background-image: url(../images/arrow.svg);
 
}

.for_who{
  background-color: #0062FF;
  color: #fff;
  padding: 71px 123px;
}
.info{
  text-align: center;
  padding-bottom: 64px;
}
.info>h2{
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 16px;
  font-weight: 600;
}
.info>span{
  display: inline-block;
  max-width: 611px;
}
.for-who_information{
  padding-top: 64px;
}
.for-who_section {
  display: inline-block;
  max-width: 607px;
  margin-bottom: 48px;
}
.for-who_section:nth-child(1),
.for-who_section:nth-child(3){
  margin-right: 48px;
}
.for-who_section>img{
  border-radius: 20%;
}

.for-who_text{
  display: inline-block;
  max-width: 443px;
  vertical-align: top;
  margin-left: 34px;
  margin-top: 14px;
}
.for-who_text>h3{
  font-size: 27px;
  line-height: 32px;
  margin-bottom: 8px;
}
.who-btn{
  text-align: center;
}
.for-who_btn{
  color: #2203E4;
  padding: 10px 16px;
  border: 1px solid #2203E4;
  background-color: #fff;
  margin-top: 24px;
}
.for-who_btn:hover{
  padding: 10px 25px;
  background-color: black;
  color: #fff;
  border: none;
}
.demo{
  padding: 63px 0 130px 0;
}
.demo-info{
  text-align: center;
padding-bottom: 22px;
}
.check-demo{
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 43px;
}
.watch-video_block{
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-right: 48px;
}
.video{
  display: inline-block;
}
.oponions{
background-color: #FFBE0B;
padding: 67px 0;
}
.oponions-top{
  text-align: center;
}
.oponions-section{
  padding: 59px 30px 59px 16px;
  background: #F3F3F3;
  display: table-cell;
  margin: 0 32px;
  box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
 margin: 0 auto;
}
.oponions-section:nth-child(1),
.oponions-section:nth-child(3){
  position: absolute;
  color: rgba(87, 87, 87, 0.35);
}
.oponions-section:nth-child(1){
left: 0;
top: 0px;
}
.oponions-section:nth-child(3){
right: 0;
top: 0;
}
.oponions-section_span {
  color: black;
}
.oponions-section_text>img{
  float: left;
margin-right: 12px;
margin-top: 30px;
}

.oponions-section_text>span{
  float: left;
  margin-left: 59px;
}
.jones-david{
  float: left;
}
.star{
  margin-bottom: 47px;
}
.oponion-position{
  position: relative;
  overflow: hidden;
}







